a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: middle;
    font-family: "San Francisco", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", sans-serif
}

* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    display: -webkit-flex;
}

.bg-cover {
    flex: 1;
    -webkit-flex: 1;
    display: block;
    position: relative;
}

.bg-img {
    width: 100%;
}

.font20 {
    font-size: 20px;
}

.font16 {
    font-size: 15px;
}

.one-words {
    position: absolute;
    bottom: 30px;
    width: -webkit-fill-available;
    padding: 0 30px;
    color: #fff;
}


.weather {
    display: flex;
    display: -webkit-flex;
    align-items: baseline;
    -webkit-align-items: baseline;
}

.weather-temp {
    font-size: 36px;
}

.weather-status {
    display: inline-block;
    padding-left: 26px;
    font-size: 16px;
}